
 @media screen and  (max-width: 1366px)  {
.footer .social_link .menu_link li a {
    line-height: 24px;
}

#pain_tab {
    height: 85vh;
}

#index_product {
    height: 100%;
    padding-bottom: 6%;
    padding-top: 6%;
}


#why_join {
    height: 100%;
    padding-top: 6%;
    padding-bottom: 6%;
}

#blog_index {
    height: 100%;
}

#happy_customer {
    height: 100%;
    padding-top: 10%;
    padding-bottom: 4%;
}

 }