@media (max-width: 376.99px) {

.leaf_svg_1 {
 display: none;
}
#call_action li.call_number a {
    font-size: 25px;
}

.leaf_svg_12 img {
    max-width: 102px;
}

.leaf_svg_12 {
    position: absolute;
    left: 60%;
    margin-top: -2px;
}

.singel_product_card {
    height: 392px;
    max-height: 392px;
}
}