@media screen and  (max-width: 1280px)  {
    #pain_tab {
        background-size: cover;
        height: 70vh;
    }

    #why_join h2 {
        font-size: 105px;
        margin-top: 10%;
    }

    #why_join h3 {
        font-size: 100px;
    }

    .leaf_svg_8 {
        position: absolute;
        left: 41%;
        margin-top: -155px;
    }

    .leaf_svg_1 img {
        max-width: 180px;
    }

    .leaf_svg_1 {
        position: absolute;
        margin-top: -105px;
        left: 79%;
    }

    .leaf_svg_2 {
        position: absolute;
        right: 5%;
        margin-top: 16%;
    }

    .leaf_svg_3 img {
        max-width: 63px;
        width: 100%;
    }
    .leaf_svg_3 {
        position: absolute;
        left: 20%;
        margin-top: 28%;
    }

    .leaf_svg_6 img {
        max-width: 45px;
    }

    .leaf_svg_6 {
        position: absolute;
        left: 83%;
        margin-top: -108px;
    }

    .leaf_svg_7 {
        position: absolute;
        left: 70%;
        margin-top: -115px;
    }

    #index_product {
        height: 100%;
        padding-top: 6%;
        padding-bottom: 6%;
    }

    .page_title h2 {
        font-size: 50px;
        margin-bottom: 2%;
    }

    .leaf_svg_7 img {
        max-width: 40px;
    }

    .leaf_svg_7 {
        position: absolute;
        left: 65%;
        margin-top: -85px;
    }

    #why_join {
        padding-top: 6%;
        padding-bottom: 6%;
    }

    .pain_main_img img {
        max-width: 510px;
        height: auto;
        float: right;
    }

    #blog_index {
        padding: 5% 0;
        height: 100%;
    }

    #page_title h1 {
        font-size: 15px;
    }

    #page_title h2 {
        font-size: 30px;
        margin-top: 6px;
    }

    #page_title {
        padding-top: 8%;
    }

    #use_life_section_five {
        padding: 6% 0 3%;
    }

    .footer .social_link ul li {
        margin-right: 0;
        margin-bottom: 9px;
    }

}