@media screen and  (max-width: 1024px) {

    ul#main-menu {
        padding: 0 5% 0 4%;
    }

    #pain_tab {
        background-size: cover;
        height: 100%;
        padding-bottom: 8%;
        padding-top: 8%;
    }

    #offer_section .dilivery_text h2 {
        font-size: 33px;
    }
    #offer_section .dilivery_text {
        padding: 90px 0 22px;
    }

    .leaf_svg_2 {
        display: none;
    }

    #singel_product_card .product_name h2 {
        font-size: 22px;
        font-weight: 600;
        text-align: center;
    }

    .singel_product_card {
        height: 405px;
        max-height: 405px;
    }

    #why_join h2 {
        font-size: 73px;
        margin-top: 7%;
        margin-bottom: -12px;
    }

    #why_join {
        height: 100%;
    }

    #why_join {
        padding-top: 10%;
        padding-bottom: 10%;
    }
    #why_join h3 {
        font-size: 58px;
    }

    .leaf_svg_8 img {
        max-width: 60px;
    }

    .leaf_svg_8 {
        left: 41%;
        margin-top: -34px;
    }

    .leaf_svg_9 {
        left: 22%;
        margin-top: -266px;
    }


    .leaf_svg_9 img {
        max-width: 135px;
    }

    .leaf_svg_9 {
        left: 18%;
        margin-top: -173px;
    }


    .blog_singel_card img {
        width: 100%;
        height: auto;
        max-width: 100%;
    }

    .leaf_svg_11 {
        position: absolute;
        left: 65%;
        margin-top: -95px;
    }

    .pain_main_img img {
        max-width: 400px;
        height: auto;
        float: unset;
        display: flex;
        margin: auto;
    }

    #pain_tab .nav-tabs .nav-link {
        font-size: 22px;
    }

    #pain_tab .pain_img {
        height: 250px;
        width: 250px;
    }
 
    .singel_product_card {
        height: 400px;
        max-height:400px;
    }

    #happy_customer {
        height: 100%;
        padding-top: 8%;
    padding-bottom: 8%;
  
    }


    #page_title {
        height: 100%;
    }

    #page_title {
        padding-top: 8%;
        padding-bottom: 2%;
    }

    .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
        width: 47%;
        min-height: 400px;
    }

    .woocommerce div.product form.cart div.quantity {
        float: left;
        width: 40%;
        margin: 5px 4px 0 0;
    }

    h1.product_title.entry-title {
        font-size: 35px;
    }

    .leaf_svg_1 {
        position: absolute;
        margin-top: -145px;
        left: 78%;
    }

    #use_life_section_four img.img-fluid.life_logo {
        margin-bottom: 8px;
        margin-top: 30px;
    }

    #use_life_section_four {
        padding: 8% 0;
    }

    section#use_life_section_three p {
        padding-left: 35px;
    }

    #use_life_section_two .card h5 {
        font-size: 16px;
    }

    #use_life_section_three {
        padding: 6% 0 6%;
    }

    .office_info {
        padding-left:30px;
    }

}