
 @media screen and  (max-width: 1440px)  {
    #pain_tab {
        height: 72vh;
    }

    #why_join h2 {
        font-size: 120px;
        margin-bottom: -38px;
        margin-top: 6%;
    }

    #why_join h3 {
        font-size: 110px;
    }

    .leaf_svg_8 {
        position: absolute;
        left: 45%;
        margin-top: -157px;
    }

    .leaf_svg_3 {
        position: absolute;
        left: 20%;
        margin-top: 25%;
    }

    .leaf_svg_2 {
        position: absolute;
        right: 11%;
        margin-top: 14%;
    }
    .leaf_svg_9 {
        position: absolute;
        left: 22%;
        margin-top: -266px;
    }

    .leaf_svg_12 {
        position: absolute;
        left: 84%;
        margin-top: -40px;
    }

 }



























// @media screen and  (max-width: 1440px) {
//     #index_product {
//     height: 100%;
// }

// #why_join {
//     height: 100%;
// }

// .leaf_svg_3 {
//     margin-top: 11%;
// }

// #pain_tab {
//     height: 100%;
//     padding-top: 6%;
//     padding-bottom: 8%;
// }

// #offer_section {
//     padding: 10px 40px 20px;
// }

// #offer_section .product_img img {
//     max-width: 250px;
//     margin-top: 22px;
// }
// #offer_section .dilivery_text h3 {
//     font-size: 40px;
//     margin-top: -12px;
// }
// #offer_section .buy_btn {
//     margin: 32px auto auto;
// }
// .page_title h2 {
//     font-size: 55px;
//     margin-bottom: 1%;
// }
// .leaf_svg_7 {
//     left: 66%;
//     margin-top: -125px;
// }
// .singel_product_card {
//     height: 531px;
//     max-height: 530px;
//     margin-top: 30px;
// }
// #singel_product_card .product_name {
//     padding: 0 20px ;
// }

// #singel_product_card .product_price {
//     padding: 0 20px 30px;
// }
// #index_product .btn_theme_y {
//     margin-top: 35px;
//     margin-bottom: 40px;
// }

// #why_join h2 {
//     font-size: 100px;
//     margin-bottom: -34px;
//     margin-top: 12%;
// }
// #why_join h3 {
//     font-size: 85px;
//     letter-spacing: 6px;
// }

// .leaf_svg_8 {
//     position: absolute;
//     left: 38%;
//     margin-top: -165px;
// }

// .pain_main_img img {
//     max-width: 450px;
//     margin: auto;
//     display: block;
// }

// #why_join {
//     padding-top: 6%;
//     padding-bottom: 6%;
// }
// .leaf_svg_9 {
//     left: 20%;
//     margin-top: -233px;
// }

// #happy_customer .left_img {
//     margin-top: -100px;
// }

// #happy_customer .left_img img {
//     max-width: 215px;
//     padding: 20px;
// } 

// #happy_customer .left_img {

//     margin-top: -100px;
//     right: 0;
// }

// #blog_index {
//     height: 100%;
// }

// .leaf_svg_12 {
//     left: 84%;
//     margin-top: -30px;
// }

// .leaf_svg_9 img {
//     max-width: 200px;
// }

// .leaf_svg_5 {
//     margin-top: -20%;
// }

// .leaf_svg_1 {
//     position: absolute;
//     margin-top: -140px;
//     left: 77%;
// }

// #offer_section .buy_btn .btn-sonar {
//     width: 220px;
//     height: 220px;
//     padding: 65px 0;
//     line-height: 0.8;
// }
// #offer_section .buy_btn a span {
//     font-size: 48px;
// }

// #offer_section .buy_btn a {
//     font-size: 60px;
// }
// .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
//     float: left;
//     margin: 0 3% 3% 0;
//     padding: 0 0 20px;
//     position: relative;
//     width: 47%;
//     border: 1px solid #ccc;
//     min-height: 100%;
//     -webkit-transition: 0.6s;
//     transition: 0.6s;
// }

// .woocommerce ul.products li.product a img {

//     padding: 0;
//     margin: 0;
// }
// .woocommerce ul.products li.product h2.woocommerce-loop-product__title {
//     font-size: 30px;
//     padding: 0 10px;
// }
// }



