@media (max-width: 575.99px) {

    .leaf_svg_1 {
        position: absolute;
        margin-top: -66px;
        left: 75%;
    }
    .leaf_svg_1 img {
        max-width: 86px;
    }

    #pain_tab .nav-tabs .nav-item {
        margin-bottom: 12px;
    }

    #pain_tab .pain_img {
        height: 200px;
        width: 200px;
        margin: auto;
    }
    #pain_tab .nav-tabs {
        margin-bottom: 18px;
    }

    .leaf_svg_3 img {
        max-width: 40px;
        width: 100%;
    }

    .leaf_svg_3 {
        position: absolute;
        left: 46%;
        margin-top: -9%;
    }

    #pain_tab h2 {
        margin-bottom: 6px;
        margin-top: 30px;
        font-size: 35px;
        font-weight: 600;
        text-align: center;
    }

    #pain_tab h3 {
        font-size: 23px;
        margin-bottom: 15px;
        text-align: center;
        line-height: 30px;
    }

    #pain_tab p {
        text-align: center;
    }

    #offer_section .dilivery_text h3 {
        font-size: 21px;
        margin-top: 0;
    }

    #offer_section .buy_btn {
        margin: 7px auto auto;
    }

    .page_title h2 {
        font-size: 35px;
        margin-bottom: 2%;
    }

    #index_product {
        padding-top: 15%;
        padding-bottom: 15%;
    }

    #call_action li.call_icon a svg {
        font-size: 49px;

    }

    #call_action ul.call_list li {
        margin-left: 20px;
    }

    #call_action li.call_number a {
        font-size: 35px;
    }

    .pain_main_img img {
        max-width: 100%;
    }

    #happy_customer .review_row img {
        max-width: 150px;
        width: 150px;
        height: 150px;
        border: 4px solid #fff;
    }
    #happy_customer {
        padding-top: 12%;
        padding-bottom: 12%;
    }

    #happy_customer .review_row h2 {
        font-size: 20px;
    }

    #happy_customer .review_row p {

        margin-bottom: 18px;
        font-size: 13px;
        line-height: 20px;
    }

    .carousel-control-next, .carousel-control-prev {
        width: 8%;
   
    }

    #happy_customer .review_row ul li svg {
        font-size: 20px;
    }

    #blog_index {
        padding: 12% 0;
    }

    .office_info {
        padding-left: 0;
    }
    .footer .social_link h2 {
        font-size: 25px;
        margin-bottom: 16px;
        margin-top: 20px;
    }

    .footer .social_link h2 {
        font-size: 25px;
        margin-bottom: 16px;
        margin-top: 20px;
    }

    .footer .copy_write p {
        font-size: 12px;
    }

    .footer {
        padding: 14% 0 0;
    }

    #use_life_section_one h1 {
        font-size: 25px;
        line-height: 36px;
    }

    #use_life_section_four h2 {
        font-size: 30px;
    }

    #use_life_section_six h2 {
        line-height: 50px;
    }

    .singel_product_card {
        height: 460px;
        max-height: 460px;
    }

    #offer_section {
        background: #db9d00;
        padding: 0px 20px 45px;
    }
    #offer_section .dilivery_text h2 {
        font-size: 26px;
    }

    #offer_section .dilivery_text h3 {
        font-size: 16px;
        margin-top: -4px;
    }
    .leaf_svg_6 {
        position: absolute;
        left: 85%;
        margin-top: -69px;
    }

    .leaf_svg_7 {
        position: absolute;
        left: 83%;
        margin-top: -69px;
    }

    #call_action .yello_hr {
        height: 20px;
        width: 52%;
        bottom: -8px;
    }

    .leaf_svg_10 {
        display: none;
    }

    .leaf_svg_9 img {
        max-width: 115px;
    }

    .leaf_svg_9 {
        left: 7%;
        margin-top: -125px;
    }

    #happy_customer .review_row img {
        max-width: 150px;
        width: 100px;
        height: 100px;
        border: 3px solid #fff;
    }

    .page_title h2 {
        font-size: 28px;
        margin-bottom: 5%;
    }
    .page_title h2 {
        font-size: 28px;
        margin-bottom: 5%;
    }

    .leaf_svg_11 {
        left: 70%;
    }

    .footer .copy_write {
        margin-top: 0;
    }

    .leaf_svg_1 {
        z-index: 99;
    }

    #use_life_section_three h2 {
        line-height: 40px;
    }
    #use_life_section_four img {
        padding: 40px 0 10px;
    }
    #use_life_section_four {
        padding: 8% 0 10%;
    }
    #use_life_section_five h2 {

        line-height: 45px;
    }
    #use_life_section_five li {
        line-height: 1.8em;
    }
    #use_life_section_six h2 {
        line-height: 41px;
        font-size: 30px;
    }
    #use_life_section_six h3 {
        font-size: 23px;
        margin-top: 2%;
        line-height: 35px;
    }

    .woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {
        width: 100%;
        margin: 0 0 2em;
    }

    .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
        padding: 0 0 5% 0;

    }

    .woocommerce .woocommerce-result-count {
        font-size: 14px;
    }

    h1.product_title.entry-title {
        font-size: 28px;
    }
    .woocommerce div.product form.cart div.quantity {
        width: 100%;
        margin-bottom: 20px;
    }
    .woocommerce .quantity .qty {
        width: 65%;
    }

    .woocommerce #respond input#submit, button.btn.btn-outline-primary {
        width: 100%;
        margin-bottom: 15px;
        max-width: 100%;
    }

    .single.single-product .woocommerce-tabs li {
        line-height: 22px;
    }

.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
    font-size: 14px;
}

#tab-additional_information h2 {
    font-size: 24px;
}

table.woocommerce-product-attributes.shop_attributes tr {
    display: grid;
}
.woocommerce-tabs.wc-tabs-wrapper {
    padding: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
    margin-bottom: 10px;
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    font-size: 100%;
    width: 100%;
    text-align: center;
}

.woocommerce-message::before {
display: none;
}

.woocommerce-message {
    padding: 16px 30px;
    font-size: 16px;
    text-align: center;
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    font-size: 100%;
}

.woocommerce-message {
    width: 100%;
    border-radius: 5px;
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    margin-bottom: 15px;
}

tr.woocommerce-cart-form__cart-item.cart_item {
    height: 100%;
}

#coupon_code.input-text {
    width: 100% !important;
    padding-left: 12px;
    padding-bottom: 9px;
    margin-bottom: 15px;
}

form.woocommerce-cart-form button.btn.btn-outline-primary.apply_coupon {
    font-size: 14px;
    padding: 10px 30px;
    text-align: center;
    display: block;
}

.woocommerce #respond input#submit, button.btn.btn-outline-primary {
    width: 100%;
    margin-bottom: 15px;
    max-width: 100%;
    text-align: center;
    display: block!important;
}

form.woocommerce-cart-form button.btn.btn-outline-primary.apply_coupon {
    margin-bottom: 5px;
}

.woocommerce .quantity .qty {
    text-align: inherit;
}

.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
    padding: 22px;
    width: 100%;
}

.woocommerce-info {
    border-radius: 6px;
}

.woocommerce-billing-fields {
    margin-bottom: 26px;
}

ul.woocommerce-error {
    border-radius: 6px;
}


// navbar


.nav_brand {
    width: 50%;
}

.nav_top ul.nav.justify-content-end {
    display: none;
}

.nav_menu {
    width: 15%;
    margin-top: 3px;
}

ul#main-menu {
    padding: 0 0 0 0;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin-top: 0;
    left: 0;
}



    }