@media screen and  (max-width: 768px) {
    .leaf_svg_1 img {
        max-width: 140px;
    }

    .leaf_svg_1 {
        position: absolute;
        margin-top: -108px;
        left: 78%;
    }

    #pain_tab .nav-tabs .nav-item {
        margin-bottom: 0;
        padding: 0 0px;
    }
    
    #pain_tab .nav-tabs .nav-link {
        font-size: 22px;
    }

    #pain_tab .pain_img {
        height: 185px;
        width: 185px;
    }
    .leaf_svg_3 {
        position: absolute;
        left: 17%;
        margin-top: 16%;
    }

    #pain_tab h3 {
        font-size: 16px;
        margin-bottom: 15px;
    }

    #offer_section .dilivery_text h2 {
        font-size: 26px;
    }

    #offer_section .dilivery_text h3 {
        font-size: 18px;
        margin-top: 0;
    }

    #offer_section .dilivery_text {
        padding: 57px 0 11px;
    }

    #offer_section .buy_btn .btn-sonar {
        width: 135px;
        height: 135px;
        padding: 19px 0;
        line-height: 0.8;
        padding: 43px 0;

    }

    #offer_section .buy_btn a {
        font-size: 35px;
    }

    #offer_section .buy_btn a span {
        font-size: 26px;
        margin-top: 10px;
    }

    .leaf_svg_5 img {
        max-width: 60px;
    }

    .singel_product_card {
        height: 440px;
        max-height: 440px;
    }

    .leaf_svg_7 {
        position: absolute;
        left: 73%;
        margin-top: -69px;
    }

    #call_action li.call_time {
        color: #f7fff7;
        display: none;
    }

    #why_join h2 {
        font-size: 60px;
        margin-top: 5%;
        margin-bottom: -9px;
        text-align: center;
    }

    #pain_tab .read_more a.button {
text-align: left;
    }

    #why_join h3 {
        font-size: 45px;
        text-align: center;
    }

    .leaf_svg_8 {
        left: 62%;
        margin-top: -54px;
    }

    .leaf_svg_8 img {
        max-width: 45px;
    }
    
    #why_join p {
        text-align: center;
    }

    .read_more a.button {
        font-size: 14px;
        text-align: center;
        display: block;
    }

    .leaf_svg_9 {
        left: 12%;
        margin-top: -158px;
    }

    #blog_index {
        padding: 8% 0;
    }

    .leaf_svg_12 {
        position: absolute;
        left: 58%;
        margin-top: -28px;
    }

    .footer .office_info ul li ul.line_two li a {
        font-size: 15px;
    }

    #use_life_section_one {
        text-align: center;
    }

    #use_life_section_one h1 {
        font-size: 31px;
        line-height: 42px;
    }
    #use_life_section_two .card {
        margin-bottom: 30px;
    }

    #use_life_section_two .card h5 {
        font-size: 26px;
    }

    #use_life_section_four img.img-fluid.life_logo {
        margin-bottom: 20px;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    #use_life_section_four h2 {
        margin-bottom: 22px;
        font-size: 36px;
        font-weight: 600;
        text-align: center;
    }

    #use_life_section_four p {
        text-align: center;
    }

    #use_life_section_four a {
        font-size: 23px;
        margin: 24px auto;
        display: table;
    }
    #use_life_section_four {
        padding: 5% 0;
    }

    #use_life_section_five {
        padding: 10% 0 6%;
    }

    #use_life_section_six h2 {
        font-size: 35px;
    }

    #use_life_section_seven {
        padding: 14% 0;
    }

    #use_life_section_seven .text_img {
        margin-top: 15px;
    }

    .container {
        padding-right: 20px;
        padding-left: 20px;
    }


    .nav_brand {
        width: 50%;
    }
    
    .nav_top ul.nav.justify-content-end {
        display: none;
    }
    ul#main-menu {
        border-radius: 0 0 8px 8px;
 
    }

    div#navbarNavDropdown {
        position: inherit;
    }
    .nav_menu {
        width: 15%;
        margin-top: 3px;
    }
    
    ul#main-menu {
        padding: 0 0 0 0;
        position: absolute;
        margin: auto;
        text-align: center;
        width: 100%;
        max-width: 300px;
        margin-top: 0;
        left: 0;
    }

    #page_title {
        background-size: cover;
    }

    #page_title {
        padding-top: 24%;
        padding-bottom: 4%;
    }

    .woocommerce .woocommerce-result-count {
        width: auto;

    }

    .woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
        z-index: 0;
    }

    .custom-select {
        width: 100%;
        float: right;
    }

    #page_title h2 {
        font-size: 20px;
        margin-top: 6px;
    }

    .singel_blog h1.entry-title {
        font-size: 24px;
    }
    #contact_page h1 {
        font-size: 23px;
    }

    #contact_page a {
        margin: 0 auto 20px;

    }
}


