// main: ../style.scss

.footer {
    background: #030303;
    padding: 4% 0 0;

    .footer_barnd_logo {
        max-width: 100%;

        img {
            max-width: 280px;
        }
    }

    .office_info {

        h2 {
            font-size: 26px;
            margin-bottom: 40px;
            color: #db9d00;

            span {
                font-weight: 900;
            }
        }

        ul {
            padding-left: 0;
            text-align: left;
            list-style: none;

            li {
                ul.line_two {
                    display: -webkit-inline-box;

                    li {
                        margin-bottom: 12px;
                        color: $white;

                        a {
                            font-size: 18px;
                            color: $white;
                        }

                        svg {
                            font-size: 30px;
                            margin-right: 20px;
                        }

                        .fa-envelope {
                            font-size: 20px;
                            margin-top: 3px;
                        }
                    }

                    .address_list {
                        margin-bottom: 80px;
                    }
                }
            }
        }
    }

    .social_link {

        h2 {
            font-size: 25px;
            margin-bottom: 40px;
            color: #db9d00;

            span {
                font-weight: 900;
            }
        }

        ul {
            display: -webkit-inline-box;
            list-style: none;
            padding-left: 0;
            margin-bottom: 22px;

            li {
                margin-right: 15px;
                margin-bottom: 11px;

                a {
                    font-size: 30px;

                    svg {
                        color: #fff;
                    }
                }
            }
        }

        .menu_link {
            display: block;
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;

            li {
                a {
                    font-size: 16px;
                    color: #fff;
                    transition: 0.4s;
                    line-height: 27px;

                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }

    .product_footer {
        margin-top: 40px;

        h2 {
            font-size: 25px;
            margin-bottom: 40px;
            color: #db9d00;

            span {
                font-weight: 900;
            }
        }

        .footer_product_card {
            width: 100%;
            display: -webkit-inline-box;

            .product_img {
                width: 40%;

                img {
                    max-width: 100%;
                    padding: 20px;
                }
            }

            .product_cap {
                width: 60%;

                h3 {
                    font-size: 38px;
                    color: #080808;
                    font-weight: 800;
                    margin-bottom: 2px;
                    margin-top: 46px;
                }

                h4 {
                    font-size: 30px;
                    color: #fff;
                    margin-bottom: 20px;
                }

                .btn_theme a {
                    margin: 0;
                }
            }
        }
    }

    .copy_write {
        text-align: center;
        color: #ccc;
        background: darken($black, 10%);
        padding: 20px;
        margin-top: 60px;

        p {
            margin-bottom: 0;
        }

        a {
            color: #ccc;
        }
    }
}