// main: ../style.scss

nav.navbar {
	position: absolute;
	z-index: 99;
	width: 100%;
	top: 0;
}

a.navbar-brand {
    max-width: 295px;
}

ul#main-menu {
	background: #db9d00;
	padding: 0 19% 0 4%;
	border-radius: 30px 0 0 30px;
	position: absolute;
	right: 0;
	margin-top: 18px;
}

a.nav-link {
	padding: 12px;
}

.nav_top {
    margin-bottom: 19px;
    margin-top: 12px;
}

.navbar-dark .navbar-nav .active > .nav-link {
	color: #fff;
	background: #1c1c1c;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
	color: rgba(255,255,255,.75);
	background: #1c1c1c;
}

.navbar-expand-md .navbar-nav .nav-link {
	padding-right: 1.3rem;
	padding-left: 1.3rem;
}

.nav_brand {
	width: 35%;
}

.navbar-dark .navbar-nav .nav-link {
    color: #020202;
    padding: 12px 18px;
}

.nav_menu {
	width: 65%;
	margin-top: -60px;
}

.nav_top {
			ul li a {
			color: #fff;
			padding: 4px 9px;
		}
}



.dropdown:hover > .dropdown-menu {
	display: block;
  }
  .dropdown-submenu {
	  position: relative;
  }
  .dropdown-submenu>.dropdown-menu {
	  top: 0;
	  left: 100%;
	  margin-top: -6px;
	  margin-left: -1px;
	  -webkit-border-radius: 0 6px 6px 6px;
	  -moz-border-radius: 0 6px 6px;
	  border-radius: 0 6px 6px 6px;
  }
  .dropdown-submenu:hover > .dropdown-menu {
	  display: block;
  }
  .dropdown-submenu>a:after {
	  display: block;
	  content: " ";
	  float: right;
	  width: 0;
	  height: 0;
	  border-color: transparent;
	  border-style: solid;
	  border-width: 5px 0 5px 5px;
	  border-left-color: #ccc;
	  margin-top: 5px;
	  margin-right: -10px;
  }
  .dropdown-submenu:hover>a:after {
	  border-left-color: #fff;
  }
  .dropdown-submenu.pull-left {
	  float: none;
  }
  .dropdown-submenu.pull-left>.dropdown-menu {
	  left: -100%;
	  margin-left: 10px;
	  -webkit-border-radius: 6px 0 6px 6px;
	  -moz-border-radius: 6px 0 6px 6px;
	  border-radius: 6px 0 6px 6px;
  }

  .dropdown-menu {
	color: #212529;
	padding: 0 0;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #1c1c1c;
}

.dropdown-item {
    color: #16181b;
    text-decoration: none;
	background-color: #db9d00;
	padding: 12px;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #1c1c1c;
}