// main: ../style.scss

a,
a,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-family: 'Lato', sans-serif;
}

.container {
	max-width: 1200px;
}

.read_more {
	a.button {
		font-size: 14px;
	}

	.arrow {
		color: $black;
		margin: 1em 0;

		&::after {
			display: inline-block;
			padding-left: 8px;
			content: "\0279E"; // arrow right unicode
			-webkit-transition: transform 0.3s ease-out;
			-moz-transition: transform 0.3s ease-out;
			-ms-transition: transform 0.3s ease-out;
			-o-transition: transform 0.3s ease-out;
			transition: transform 0.3s ease-out;
		}

		&:hover {
			color: $black;

			&::after {
				-webkit-transform: translateX(4px);
				-moz-transform: translateX(4px);
				-ms-transform: translateX(4px);
				-o-transform: translateX(4px);
				transform: translateX(4px);
			}
		}
	}
}

.page_title {
	h2 {
		text-align: center;
		font-weight: 300;
		text-transform: uppercase;
		font-size: 60px;
		margin-bottom: 4%;

		span {
			font-weight: 900;
		}
	}
}
// theme btn {

.btn_theme {
	a {
		font-size: 22px;
		padding: 10px 13px;
		display: block;
		margin: 10px auto;
		border-radius: 82px;
		text-align: center;
		max-width: 240px;

		&:hover {
			text-decoration: none;
		}
	}

	a.bg_green {
		color: $white;
		background: $green;

		&:hover {
			background: lighten($green, 10%);
		}
	}

	a.bg_yello {
		color: $black;
		background: $yellow;

		&:hover {
			background: lighten($yellow, 10%);
		}
	}
}
// singel_blog_card

.blog_singel_card {
	width: 100%;
	text-decoration: none;
	margin-top: 10px;
	margin-bottom: 20px;

	.blog_img {
		span {
			position: absolute;
			background: $yellow;
			margin-top: 8px;
			padding: 3px 25px;
			color: #fff;
			border-radius: 0 40px 40px 0;
			-moz-border-radius: 0 40px 40px 0;
			-webkit-border-radius: 0 40px 40px 0;
			border: 0 solid $yellow;
			z-index: 9999;
		}
	}

	.blog_body {
		h2 {
			font-size: 22px;
    margin-top: 15px;
    color: #000;
    font-weight: 600;
    line-height: 28px;
		}

		p {
			font-size: 16px;
			color: #6b6b6b;
			line-height: 22px;
			margin-bottom: 8px;
		}
	}

	.blog_footer a {
		color: #000;
		font-size: 16px;

		&:hover {
			text-decoration: none;
		}
	}
}


.blog_singel_card .blog_img span a ,.blog_singel_card .blog_img span {
    color: #fff;
    font-size: 10px;
}

.blog_singel_card_link:hover {
	text-decoration: none;
	background: #ccc;
}

.blog_singel_card_link:hover .blog_singel_card .blog_body h2 {
	color: $yellow;
}

.blog_img {
	overflow: hidden;
}

.blog_img img {
	transition: 0.5s;
}

.blog_img img:hover {
	-moz-transform: scale(1.1,1.1);
	-webkit-transform: scale(1.1,1.1);
	-o-transform: scale(1.1,1.1);
	-ms-transform: scale(1.1,1.1);
}
// Page_title

#page_title {
	background: url("../img/Layer-8.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	height: 25vh;
    padding-top: 6%;
	background-position: top;

	h1 {
		text-align: center;
		margin-bottom: 0;
		font-size: 20px;
		color: $white;
	}

	h2 {
		text-align: center;
		color: #db9d00;
		font-size: 35px;
    margin-top: 6px;
	}
}
// offer_card style

#offer_card {
	border: 1px solid #ccc;
	padding: 25px 20px;
	text-align: center;

	h2 {
		font-size: 35px;
		color: $black;
		font-weight: 900;
	}

	h3 {
		color: #338908;
		font-size: 20px;
		font-weight: 900;
		margin-bottom: 30px;
		margin-top: -7px;
	}
}
// Fix billing field wrapper

.woocommerce-input-wrapper {
	width: 100%;
}
// Woocommerce product gallery slider width fix

figure.woocommerce-product-gallery__wrapper {
	max-width: inherit !important;
}
// Fix coupon code input width
@media only screen and (max-width: 768px){
	#coupon_code.input-text {
		width: 110px !important;
	}
}

#page {
	padding-top: 4%;
	padding-bottom: 5%;
}

.btn-outline-primary {
	font-size: 22px;
	padding: 10px 13px;
	display: block;
	border-radius: 82px;
	text-align: center;
	max-width: 240px;
	color: $black;
	background: $yellow;
	border-color: $yellow;

	&:hover {
		text-decoration: none;
		background: lighten($yellow, 10%);
		border-color: $yellow;
		color: $black;
	}
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #db9d00;
	border-color: #db9d00;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0 rgb(208, 149, 1);
}

.btn-primary.focus,
.btn-primary:focus {
	box-shadow: 0 0 0 0 rgb(219, 157, 0);
}

a {
	color: $green;
	text-decoration: none;
	background-color: transparent;
	transition: 0.6s;

	&:hover {
		color: lighten($green, 10%);
		text-decoration: none;
	}
}
@-webkit-keyframes swing {
	15% {
		-webkit-transform: translateY(5px);
		transform: translateY(5px);
	}

	30% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}

	50% {
		-webkit-transform: translateY(3px);
		transform: translateY(3px);
	}

	65% {
		-webkit-transform: translateY(-3px);
		transform: translateY(-3px);
	}

	80% {
		-webkit-transform: translateY(2px);
		transform: translateY(2px);
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
@keyframes swing {
	15% {
		-webkit-transform: translateY(5px);
		transform: translateY(5px);
	}

	30% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}

	50% {
		-webkit-transform: translateY(3px);
		transform: translateY(3px);
	}

	65% {
		-webkit-transform: translateY(-3px);
		transform: translateY(-3px);
	}

	80% {
		-webkit-transform: translateY(2px);
		transform: translateY(2px);
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

.swing:hover {
	-webkit-animation: swing 1s ease;
	animation: swing 1s ease;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

.leaf_svg_1 {
	position: absolute;
	margin-top: -109px;
	left: 70%;
}

.leaf_svg_2 {
	position: absolute;
	right: 15%;
	margin-top: 7%;
}

.leaf_svg_3 {
	position: absolute;
	left: 20%;
	margin-top: 8%;

	img {
		max-width: 90px;
		width: 100%;
	}
}

.leaf_svg_5 {
	position: absolute;
	left: 30%;
    margin-top: -15%;

	img {
		max-width: 90px;
	}
}

.leaf_svg_6 {
	position: absolute;
	left: 81%;
	margin-top: -112px;

	img {
		max-width: 60px;
	}
}

.leaf_svg_7 {
	position: absolute;
	left: 68%;
	margin-top: -145px;

	img {
		max-width: 70px;
	}
}

.leaf_svg_8 {
	position: absolute;
	left: 56%;
	margin-top: -168px;

	img {
		max-width: 80px;
	}
}

.leaf_svg_9 {
	position: absolute;
	left: 26%;
	margin-top: -309px;
}

.leaf_svg_10 {
	position: absolute;
	left: 43%;
	margin-top: -125px;

	img {
		max-width: 48px;
	}
}

.leaf_svg_11 {
	position: absolute;
	left: 54%;
	margin-top: -107px;

	img {
		max-width: 48px;
	}
}

.leaf_svg_12 {
	position: absolute;
	left: 84%;
	margin-top: -8px;

	img {
		max-width: 141px;
	}
}

.leaf_svg_13 {
	position: absolute;
	left: 37%;
	margin-top: 51px;

	img {
		max-width:141px!important;
		max-height:100%!important;
		margin:inherit!important;
		display:inherit!important;
	}
}


.blog #page_title {
    margin-bottom: 4%;
}

.blog footer {
    margin-top: 4%;
}


.leaf_svg_3 {
    position: absolute;
    left: 28%;
    margin-top: 18%;
}

.btn-primary {
    color: #1c1c1c;
    background-color: #db9d07;
    border-color: #db9d07;
}

.btn-primary:hover {
    color: #1c1c1c;
    background-color: #db9d00;
    border-color: #db9d00;
}