// main: ../style.scss

.singel_blog {
	padding-bottom: 4%;
	padding-top: 4%;
	h1.entry-title {
    font-size: 35px;
    margin-bottom: 20px;
	font-weight: 900;
	background: #f7f7f7;
}
img {
	width: 100%;
	max-height: 380px;
	overflow: hidden;
	object-fit: cover;
	object-position: top;
}

.entry-content {
    margin-top: 20px;
    margin-bottom: 20px;
}
}
.blog_aside {
	padding-bottom: 4%;
	padding-top: 15%;
}

.blog_singel_card img {
    width: 100%;
    height: auto;
}

.blog_body {
    padding: 2% 4% 0;
}
.blog_footer {
    padding: 1% 4% 4%;
}