// main: ../style.scss

#contact_page {
	padding-top: 4%;
	background: url("../img/oil-page.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	background-size: 100% auto;

	h1 {
		text-align: center;
		margin-bottom: 4%;
	}

	img {
		max-width: 100px;
		padding: 12px;
		margin: auto;
		display: block;
		border-radius: 35px 0;
		background: #db9d00;
		padding: 20px;
		margin-bottom: 18px;
		transition: 0.9s;

		&:hover {
			border-radius: 0 35px;
		}
	}

	h2 {
		text-align: center;
		font-size: 19px;
		font-weight: 500;
		margin-bottom: 3px;
	}

	a {
		font-size: 20px;
		margin: auto;
		display: block;
		text-align: center;
		color: #1c6007;
		font-weight: 900;
		transition: 0.6s;

		&:hover {
			color: $light_green;
			text-decoration: none;
		}
	}
	iframe{
		margin-top: 4%;
}
}
