// main: ../style.scss

#How_to_use {
    padding: 4% 0;
}


#use_life_section_one {
    padding: 4% 0 2%;

    h1 {
        font-size: 27px;
        font-weight: 600;
        line-height: 37px;
    }
}

#use_life_section_two {
    padding: 2% 0;

    h2 {
        text-align: center;
        margin-bottom: 30px;
        font-size: 27px;
        font-weight: 600;
    }

    .card {
        transition: 0.6s;

        h5 {
            text-align: center;
            margin-top: 15px;
        }
    }

    .card:hover {
        -webkit-box-shadow: 0px 3px 5px 0px rgba(156, 156, 156, 1);
        -moz-box-shadow: 0px 3px 5px 0px rgba(156, 156, 156, 1);
        box-shadow: 0px 3px 5px 0px rgba(156, 156, 156, 1);
    }
}


#use_life_section_three {
    padding: 2% 0 4%;

    h2 {
        text-align: center;
        margin-bottom: 30px;
        font-size: 27px;
        font-weight: 600;
    }
}

#use_life_section_four {
    padding: 4% 0;
    background: url('../img/covid banner-min (1).jpg');
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    color: #fff;

    img {
        padding: 40px;
    }

    h2 {
        margin-bottom: 20px;
        font-size: 27px;
        font-weight: 600;

    }

    a {
        background: #660142;
        padding: 6px 60px;
        border-radius: 30px;
        color: #fff;
        border: 3px solid #fff;
        font-size: 28px;
        margin-top: 18px;
        display: inline-table;
    }

    img.img-fluid.life_logo {
        max-width: 220px;
        margin-bottom: 23px;
        margin-top: 30px;
        padding: 0;
    }
}


#use_life_section_five {
    padding: 4% 0 2%;

    h4 {

        text-align: center;
        color: #015602;
        font-size: 40px;
        font-weight: 900;
        margin-bottom: 30px;
        margin-top: 20px;
    }

    h2 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 27px;
        font-weight: 600;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        line-height: 2em;
        padding-left: 0px;
        padding-top: 5px;
        padding-bottom: 0px;
        font-size: 18px;
        list-style-type: none;
        list-style: none;
        display: flex;
        margin-bottom: 10px;
        font-weight: 600;
    }

    li:before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f111";
        margin-right: 10px;
        font-size: 13px;
        display: table-cell;
        padding-right: 4px;
        color: #013a0c;
    }
}

#use_life_section_six {
    padding: 2% 0 4%;

    h3 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 27px;
        font-weight: 600;
        color: #fd0201;

        margin-top: 2%;
    }

    p {
        text-align: center;
        margin-top: 20px;
        font-weight: 600;
    }



}

#use_life_section_seven {
    padding: 4% 0;
    background: url('../img/covid banner-min (1).jpg');
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    color: #fff;

    .text_img {
        margin-top: 75px;
    }

    .order_btn {
        background: #660142;
        padding: 6px 60px;
        border-radius: 30px;
        color: #fff;
        border: 3px solid #fff;
        font-size: 28px;
        margin: 15px auto;
        display: table;
    }

    h3 {
        margin-top: 50px;
        text-align: center;
        font-size: 20px;
    }

    .order_call {
        font-size: 40PX;
        color: #FFF;
        font-weight: 600;
        text-align: center;
        display: block;
    }

    .social_icon {
        text-align: center;

        li {
            a {
                color: #febc11;
                font-size: 50px;
                padding: 5px;

            }
        }
    }
}