// main: ../style.scss

#slider {
    position: relative;
    top: 0;
    z-index: 0;

    img {
        width: 100%;
        max-width: 1980px;
        height: 100vh;
    }
}

#pain_tab {
    background: url("../img/Layer-6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    padding-top: 10%;
    background-position: top;

    .nav-tabs {
        border: none;
        margin-bottom: 50px;
    }

    .nav-tabs .nav-item {
        margin-bottom: -1px;
        padding: 0 22px;
        border-right: 2px solid $yellow;
        line-height: 0;
    }

    .nav-tabs .nav-item:last-child {
        border-right: none;
    }

    .nav-tabs .nav-link {
        color: $yellow;
        font-size: 30px;
    }

    .nav-tabs .nav-link:focus,
    .nav-tabs .nav-link:hover {
        border: 1px solid #fff;
        text-decoration: none;
        color: $green;
        transition: 0.6s;
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        border: 1px solid #fff;
        color: $green;
    }

    .fade {
        transition: 0.4s;
    }

    .pain_img {
        height: 300px;
        width: 300px;
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
        border-radius: 100%;
        padding: 10px;
        background: #fcfcfc;
        background: -moz-linear-gradient(top, #fcfcfc 0%, #fcfcfc 50%, #db9d00 50%, #db9d00 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, #fcfcfc), color-stop(50%, #fcfcfc), color-stop(50%, #db9d00), color-stop(100%, #db9d00));
        background: -webkit-linear-gradient(top, #fcfcfc 0%, #fcfcfc 50%, #db9d00 50%, #db9d00 100%);
        background: -o-linear-gradient(top, #fcfcfc 0%, #fcfcfc 50%, #db9d00 50%, #db9d00 100%);
        background: -ms-linear-gradient(top, #fcfcfc 0%, #fcfcfc 50%, #db9d00 50%, #db9d00 100%);
        background: linear-gradient(to bottom, #fcfcfc 0%, #fcfcfc 50%, #db9d00 50%, #db9d00 100%);

        img {
            border: 5px solid #000000;
            border-radius: 100%;
            width: 100%;
            height: 100%;
        }
    }

    h2 {
        color: $green;
        margin-bottom: 0;
        margin-top: 40px;
        font-size: 47px;
        text-transform: uppercase;
        font-weight: 600;
    }

    h3 {
        font-size: 18px;
        margin-bottom: 20px;
        color: $green;
        font-weight: 400;
    }
}

#offer_section {
    background: $yellow;
    padding: 9px 80px 45px;

    .dilivery_text {
        padding: 78px 0 40px;
        text-align: center;

        h2 {
            font-size: 40px;
            color: #1c1c1c;
            font-weight: 600;
            margin-bottom: 15px;
        }

        h3 {
            font-size: 24px;
            margin-top: -3px;
        }
    }

    .buy_btn {
        margin: 39px auto auto;
        text-align: center;
        border-radius: 100%;
        position: relative;

        a {
            font-size: 50px;
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            position: relative;

            span {
                font-size: 35px;
                margin-top: -121px;
                font-weight: 400;
            }
        }

        a:hover {
            text-decoration: none;
        }

        .btn-sonar {
            background: #1c1c1c;
            width: 175px;
            height: 175px;
            border: 0;
            border-radius: 50%;
            display: inline-block;
            outline: none;
            line-height: 0.7;
            padding: 56px 0;
            font-weight: 900;
            position: relative;

            &::before {
                content: '';
                display: inline-block;
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                top: 0;
                left: 0;
            }

            &::before {
                animation: sonar-effect 1.5s ease-in-out 0.4s infinite;
            }
        }

        @keyframes sonar-effect {
            0% {
                opacity: 0.3;
            }

            40% {
                opacity: 0.5;
                box-shadow: 0 0 0 5px #fff, 0 0 10px 10px #fff, 0 0 0 10px #fff;
            }

            100% {
                box-shadow: 0 0 0 5px #fff, 0 0 10px 10px #fff, 0 0 0 10px #fff;
                transform: scale(1.2);
                opacity: 0;
            }
        }

        @keyframes fade-down {
            0% {
                opacity: 1;
                transform: translateY(-5px);
            }

            50% {
                opacity: 0.8;
                transform: translateY(5px);
            }

            100% {
                opacity: 0;
                transform: translateY(5px);
            }
        }
    }

    .product_img img {
        position: absolute;
        width: 100%;
        max-width: 285px;
        margin-top: 25px;
    }
}

#index_product {
    background: url("../img/bec_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 6%;
    background-position: top;

    .btn_theme_y {
        margin-top: 50px;
    }
}

#singel_product_card {
    background: #ffffff;
    border: 1px solid #eae8e8;

    .product_img {

        img {
            max-width: 100%;
            margin: auto;
            display: block;
        }
    }

    .product_name {
        padding: 10px 20px 1px 20px;

        h2 {
            font-size: 22px;
            font-weight: 600;
            text-align: center;
        }

        p {
            text-align: center;
            font-size: 14px;
            max-width: 90%;
            margin: auto;
            color: #868585;
        }
    }

    .product_price {
        padding: 0 20px 35px;

        h3 {
            margin-top: 10px;
            text-align: center;
            font-size: 20px;
        }
    }
}

.singel_product_card {
    position: relative;
    margin-right: 1em;
    border: 1px solid #ccc;
    overflow: hidden;
    width: 100%;
    height: 480px;
    max-height: 530px;
    margin-top: 30px;

    &:hover .block__body {
        padding: 35px 20px;
        position: absolute;
        top: 0;
        background: rgba(229, 244, 225, 0.68);
        color: #fff;
        height: 100%;
        width: 100%;
        transition: top 0.9s;

        h3 {
            color: #fff;
        }
    }

    .block__body {
        .btn_theme {
            margin: 50% 5px;
        }
    }
}

.block__body {
    padding: 1em;
    top: 100%;
    border-bottom: 8px solid $green;
}

#call_action {
    background: #032b77;
    padding-top: 20px;

    p {
        font-size: 20px;
        color: $white;
        margin-top: 4%;
    }

    ul.call_list {
        list-style: none;
        display: -webkit-inline-box;
        margin-top: 4%;
        padding-left: 0;

        li {
            margin-left: 50px;
        }
    }

    li.call_icon a svg {
        font-size: 75px;
        color: $white;
    }

    li.call_time {
        color: $white;

        h3 {
            font-size: 35px;
            margin-bottom: 5px;
        }

        h5 {
            font-size: 18px;
        }
    }

    li.call_number {
        margin-top: 8px;

        a {
            color: $white;
            font-size: 45px;
            font-weight: 900;
            transition: 0.9s;

            &:hover {
                color: #efefef;
                text-decoration: none;
            }
        }
    }

    .yello_hr {
        height: 25px;
        background: #db9d00;
        width: 48%;
        -webkit-transform: skew(-20deg);
        -moz-transform: skew(-20deg);
        -o-transform: skew(-20deg);
        transform: skew(-20deg);
        position: relative;
        bottom: -10px;
    }
}

#why_join {
    background: url("../img/bg_joint.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 6%;
    background-position: top;

    h2 {
        font-size: 150px;
        font-weight: 900;
        margin-bottom: -45px;
        margin-top: 12%;
        color: $yellow;
    }

    h3 {
        font-size: 130px;
        letter-spacing: 1px;
        font-weight: 300;
    }

    p {
        line-height: 26px;
    }

}

#happy_customer {
    background: url("../img/review.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 10%;
    background-position: top;

    .container-fluid {
        max-width: 1600px;
    }

    .page_title h2 {
        color: #fff;
    }

    .review_row {
        max-width: 785px;
        margin: auto;

        img {
            max-width: 200px;
            margin: auto;
            text-align: center;
            width: 200px;
            display: block;
            height: 200px;
            overflow: hidden;
            object-fit: cover;
            border-radius: 146px;
            border: 6px solid #fff;
        }

        h2 {
            text-align: center;
            color: #fff;
            margin-top: 4%;
            font-style: italic;
            font-size: 30px;
            letter-spacing: 1px;
        }

        p {
            text-align: center;
            color: #fff;
            font-style: italic;
            margin-bottom: 20px;
            font-size: 20px;
        }

        ul {
            list-style: none;
            margin: auto;
            text-align: center;
            padding-left: 0;

            li {
                margin: 0 5px;
                display: -webkit-inline-box;

                svg {
                    color: $yellow;
                    text-align: center;
                    font-size: 40px;
                }
            }
        }
    }

    .left_img {
        float: right;
        padding: 20px;
        position: relative;
        z-index: 99;
        margin-top: -66px;

        img {
            max-width: 300px;
            padding: 20px;
        }
    }
}

#blog_index {
    padding: 5% 0;
    height: 80vh;
}

#aword {
    background: #fff;
    margin-bottom: 20px;
    padding: 10px 0;

    img {
        max-width: 120px;
        max-height: 75px;
        margin: auto;
        display: -webkit-box;
    }
}

#back2Top {
    width: 50px;
    height: 50px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 20px;
    background-color: #db9d00;
    color: $black;
    text-align: center;
    border-radius: 100px;
    padding: 2px;
    font-size: 30px;
    text-decoration: none;
}

#back2Top:hover {
    background-color: lighten($yellow, 10%);
    color: lighten($black, 10%);
}


.add-to-cart-container a {
    margin: 10px auto;
    text-decoration: none;
    padding: 4px 20px;
}