// main: ../style.scss

#oder_form {
	background: $black;
	padding: 20px 20px 40px;

	h2 {
		text-align: center;
		color: #f7fff7;
		margin-bottom: 17px;
		margin-top: 10px;
	}

	label {
		color: $white;
	}

	button.btn.btn-primary {
		width: 100%;
		background: $yellow;
		border-color: $yellow;
		color: #1c1c1c;
		font-size: 16px;
		font-weight: 600;
	}

	.btn-primary:not(:disabled):not(.disabled).active:focus,
	.btn-primary:not(:disabled):not(.disabled):active:focus,
	.show > .btn-primary.dropdown-toggle:focus {
		box-shadow: 0 0 0 0.2rem rgba(219, 157, 0, 0.88);
	}
}

#oil_page {
	padding-top: 2%;
	background: url("../img/oil-page.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	background-size: 100% auto;
}

#product_side {
	background: rgba(255, 255, 255, 0.23);
	border: 1px solid #e6e6e6;
	border-radius: 15px;
	padding: 30px;

	h1 {
		font-size: 50px;
		text-align: center;
		font-weight: 900;
	}

	h2 {
		text-align: center;
		font-size: 20px;
		color: $light_green;
		margin-top: -12px;
		font-weight: 900;
		margin-bottom: 20px;
	}

	img {
		max-width: 450px;
		padding: 4% 4% 0;
	}
}

.page-template-oil-page {
	#blog_index {
	    padding: 3% 0;
	    height: 80vh;
	}	
}
