section#singel_product_cart_s {
	margin-top: 5%;
	margin-bottom: 5%;
}

.flex-viewport {}

a.woocommerce-product-gallery__trigger {}

.woocommerce-product-gallery__image.flex-active-slide {
	height: 500px;
	overflow: hidden;
}

.flex-viewport {
	height: auto;
}

.woocommerce div.product div.images .flex-control-thumbs li {
	width: 16.6%;
	height: auto;
	/* clear: none; */
}

.woocommerce div.product .woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n+1) {
	clear: none;
}

.woocommerce-tabs.wc-tabs-wrapper {
	padding: 20px;
}

ol.flex-control-nav.flex-control-thumbs {
	margin: 20px;
}

.woocommerce-product-gallery.woocommerce-product-gallery--with-images.woocommerce-product-gallery--columns-4.images .flex-viewport {
	border: 1px solid #ccc;
	margin: 0 20px 20px;
}

.woocommerce div.product div.images .flex-control-thumbs {
	margin: 0 20px;
}

.woocommerce div.product div.images .woocommerce-product-gallery__trigger {
	top: 0.3em;
	right: 0.9em;
}

h1.product_title.entry-title {
	font-size: 40px;
	font-weight: 900;
	margin-bottom: 0;
}

span.woocommerce-Price-currencySymbol {
	margin-right: 4px;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
	color: #1c6007;
	font-size: 40px;
	font-weight: 700;
	padding-bottom: 3px;
	border-bottom: 2px solid #dadada;
}

.woocommerce div.product form.cart {
	background: #f5f5f5;
	border-radius: 3px;
	padding: 15px 10px;
}

span.woocommerce-Price-currencySymbol {
	margin-right: 4px;
	font-weight: 900;
	font-family: 'Abhaya Libre', serif;
}

.quantity label.sr-only {
	position: relative;
	width: 100%;
	height: 1px;
	padding: 6px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	white-space: nowrap;
	border: 0;
	display: inline;
	font-weight: 900;
	color: #1c6007;
}

.woocommerce div.product form.cart div.quantity {
	float: left;
	width: 30%;
	margin: 5px 4px 0 0;
}

.woocommerce .quantity .qty {
	width: 45%;
	text-align: center;
	padding: 5px;
	border-radius: 4px;
	border: 1px solid #bbbbbb;
}

.woocommerce #respond input#submit
button.btn.btn-outline-primary {
	font-size: 16px;
	padding: 9px 37px;
	display: block;
	border-radius: 35px;
	text-transform: uppercase;
	text-align: center;
	max-width: 240px;
	border: 0;
	font-weight: 600;
	color: #fff;
	background: #1c6007;

	&:hover {
		text-decoration: none;
		background: lighten(#1c6007, 10%);
		color: #fff;
	}
}

.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
	color: #fff;
}

.btn-outline-primary.focus,
.btn-outline-primary:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
	color: #fff;
	background-color: #db9d00;
	border-color: #db9d00;
}

.woocommerce div.product .woocommerce-product-rating {
	margin-bottom: 5px;
}

.woocommerce .star-rating span::before {
	color: #db9d00;
	letter-spacing: 2px;
}

.woocommerce .star-rating::before {
	letter-spacing: 2px;
}

a.woocommerce-review-link {
	color: #1c6007;
	font-size: 14px;
	line-height: 45px;

	&:hover {
		color: lighten(#1c6007, 10%);
	}
}

.woocommerce .star-rating {
	width: 6em;
	font-size: 20px;
}

.free_shopin_icon {
	margin: 10px 0;

	ul {
		display: -webkit-inline-box;
		list-style: none;
		padding-left: 0;

		li {
			background: #db9d00;
			color: #1c1c1c;
			padding: 6px 20px;
			margin-right: 10px;
			border-radius: 30px;

			svg {
				margin-right: 6px;
			}
		}
	}
}

.woocommerce-product-details__short-description {
	margin-bottom: 30px;
	font-size: 18px;
	font-family: 'Abhaya Libre', serif;
}

span.posted_in,
span.sku_wrapper,
span.tagged_as {
	margin-right: 15px;
	font-weight: 600;
}

span.posted_in a,
span.sku,
span.tagged_as a {
	color: #1c6007;
	font-weight: 400;
	padding-left: 5px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
	border: 1px solid #1c6007;
	background-color: #1c6007;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	color: #ffffff;
}


.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover {
    text-decoration: none;
    color: #f3f3f3;
}

h2.woocommerce-Reviews-title {
	font-size: 25px;
	margin-bottom: 30px;
}

div#review_form_wrapper {
	margin: auto;
	background: #f5f3f3;
	padding: 40px;
}

span#reply-title {
	font-size: 30px;
}

p.stars a,
p.stars a:hover {
	color: #db9d00;
}

p.comment-form-author label,
p.comment-form-comment label,
p.comment-form-email label {
	width: 100%;
}

input#author,
input#email {
	width: 100%;
}

input#wp-comment-cookies-consent {
	margin-right: 5px;
}

.woocommerce #review_form #respond textarea {
	border-color: #d6d3d3;
	border-radius: 5px;
}

input#author,
input#email {
	border-radius: 5px;
	height: 35px;
	border: 1px solid #d6d3d3;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
	background: #f1f0f0;
}

.woocommerce #reviews #comments ol.commentlist li img.avatar {
	border-radius: 100px;
	width: 41px;
	height: auto;
	background: #ffffff;
	border: 1px solid #db9d00;
}
// cart Page

.woocommerce-message {
	padding: 16px 60px;
	margin: 0 0 1em;
	position: relative;
	background-color: #ffffff;
	color: #020201;
	border: 1px solid #ccc;
	list-style: none outside;
	width: auto;
	word-wrap: break-word;
	font-size: 16px;
	font-weight: 400;
	border-radius: 100px;
}

form.woocommerce-cart-form {
	background: #f9f9f9;
}

table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents thead {
	background: #353535;
	color: #fff;
	border: 1;
}

.woocommerce table.shop_table {
	border: none;
	margin: 0 0 40px;
	text-align: left;
	width: 100%;
	border-collapse: separate;
}

tr.woocommerce-cart-form__cart-item.cart_item {
	padding: -4px 0;
	height: 70px;
}

.woocommerce #content table.cart td.actions,
.woocommerce table.cart td.actions,
.woocommerce-page #content table.cart td.actions,
.woocommerce-page table.cart td.actions {
	text-align: right;
	padding-top: 40px;
	width: 100%;
	padding-bottom: 20px;
}

.woocommerce #content table.cart td.actions,
.woocommerce table.cart td.actions,
.woocommerce-page #content table.cart td.actions,
.woocommerce-page table.cart td.actions {
	text-align: right;
	padding-bottom: 15px;
	padding-top: 30px;
}

form.woocommerce-cart-form button.btn.btn-outline-primary {
	display: -webkit-inline-box;
}

form.woocommerce-cart-form button.btn.btn-outline-primary.apply_coupon {
	font-size: 12px;
	padding: 8px 30px;
	color: #080808;
	background: #db9d00;
}

td.product-name a {
	color: #131313;
}

td.product-quantity .quantity label.sr-only {
	display: none;
	position: absolute;
}

#add_payment_method table.cart td.actions .coupon .input-text,
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text {
	float: left;
	box-sizing: border-box;
	border: 1px solid #d3ced2;
	padding: 6px 6px 5px;
	margin: 0 15px 0 0;
	outline: 0;
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
	float: right;
	width: 50%;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
	font-size: 73%;
	padding: 10px 1em;
	font-weight: 400;
	border-radius: 30px;
	color: #020201;
	background-color: #db9d00;
}

#coupon_code.input-text {
	width: 150px !important;
	padding-left: 12px;
	padding-bottom: 9px;
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
	float: right;
	background: #f9f9f9;
	padding: 30px;
	width: 60%;
}

.cart_totals h2 {
	font-size: 30px;
	font-weight: 900;
	letter-spacing: 2px;
}

a.shipping-calculator-button {
	background: #ccc;
	padding: 5px 30px;
	border-radius: 30px;
	color: #020201;
	font-size: 14px;
}

a.shipping-calculator-button:hover {
	text-decoration: none;
	background: lighten(#ccc, 5%);
}

.woocommerce-info {
	margin-bottom: 15px;
	border-radius: 30px;
	border: 0;
}

.woocommerce-info a {
	color: #1c6007;
	font-weight: 900;
	margin-left: 6px;
}

.woocommerce-info::before {
	color: #1c6007;
}

.woocommerce-billing-fields {
	padding: 30px 20px;
	background: #f7f7f7;
}

.woocommerce-additional-fields,
.woocommerce-shipping-fields {
	padding: 10px 20px;
	background: #f7f7f7;
}

h3#ship-to-different-address {
	margin-bottom: 0;
}

div#customer_details {
	margin-bottom: 40px;
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea,
input#calc_shipping_city,
input#calc_shipping_postcode,
input#password,
input#username,
select#calc_shipping_country,
span.select2-selection.select2-selection--single {
	display: block;
	width: 100%;
	height: calc(1.5em + .75rem + 2px);
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}

p.woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received {
	font-size: 24px;
	color: #fff;
	margin-bottom: 30px;
	border-radius: 41px;
	padding: 6px 30px;
	background-color: #1c6007;
}

ul.woocommerce-error {
	background: #c10000;
	color: #fff;
	border: none;
	border-radius: 30px;
}

.woocommerce-error::before {
	content: "\e016";
	color: #ffffff;
}

form.woocommerce-shipping-calculator button.button {
	width: 120px;
	color: #080808;
}

.woocommerce button.button:hover {
	background-color: #efac02;
}

p.woocommerce-shipping-destination strong {
	margin-left: 7px;
}

h3#ship-to-different-address {
	margin-top: 20px;
}

a.restore-item {
	font-weight: 900;
	color: #1c6007;
	margin-left: 2px;
}

label.woocommerce-form__label.woocommerce-form__label-for-checkbox.inline {
	margin-left: 20px;
	margin-top: 2%;
	margin-bottom: 0;
}

form.woocommerce-ResetPassword.lost_reset_password p {
	font-size: 20px;
}

.woocommerce form.login,
.woocommerce form.register {
	border: 0 solid #d3ced2;
	margin: 15px 0;
}

.woocommerce form .form-row label {
	line-height: 1.5;
}

div#customer_login h2 {
	padding: 8px 20px;
	background: #f7f7f7;
	border-radius: 55px;
	font-size: 24px;

	svg {
		margin-right: 6px;
		font-size: 21px;
	}
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
	color: #fff;
	background-color: #1c6007;
	border-color: #1c6007;
}

form.woocommerce-form.woocommerce-form-login.login button,
form.woocommerce-form.woocommerce-form-register.register button {
	width: 200px;
}

.woocommerce-password-strength.strong {
	background-color: #ffffff;
	border-color: #ffffff;
	color: #1c6007;
	margin-top: 5px;
}

.woocommerce-password-strength.short {
	background-color: #ffffff;
	border-color: #ffffff;
	color: #e80000;
	margin-top: 5px;
	margin-bottom: 0;
}

.woocommerce-password-strength.bad {
	background-color: #ffffff;
	border-color: #ffffff;
	color: #ce2f00;
	margin-top: 5px;
	margin-bottom: 0;
}

small.woocommerce-password-hint {
	margin-top: 5px;
	line-height: 19px;
}

small.woocommerce-password-hint {
	margin-top: 5px;
	line-height: 19px;
}

.list-group-item-action:active {
	color: #212529;
	background-color: #f7f7f7;
}

.woocommerce-MyAccount-content .woocommerce-message.woocommerce-message--info.woocommerce-Message.woocommerce-Message--info.woocommerce-info a,
.woocommerce-MyAccount-content a {
	padding: 3px 25px;
}

.woocommerce-MyAccount-content .woocommerce-info::before {
	display: none;
}

.woocommerce-MyAccount-content .woocommerce-message.woocommerce-message--info.woocommerce-Message.woocommerce-Message--info.woocommerce-info p,
.woocommerce-MyAccount-content p {
	margin-top: 15px;
	font-size: 20px;
	padding-left: 9px;
}

.woocommerce-MyAccount-content .woocommerce-error,
.woocommerce-MyAccount-content .woocommerce-info,
.woocommerce-MyAccount-content .woocommerce-message {
	background-color: #ffffff;
	padding: 0 10px 0 15px;
}

#shop_page {
	padding-top: 4%;
	padding-bottom: 4%;
}

.woocommerce .woocommerce-ordering {
	margin: 8px 0 1em;
	border-radius: 30px;
	margin-bottom: 35px;
}

.woocommerce .woocommerce-ordering,
.woocommerce-page .woocommerce-ordering {
	float: right;
	position: relative;
	z-index: 9999;
}

.woocommerce .woocommerce-result-count {
	margin: 0 0 1em;
	background: #f5f5f5;
	position: absolute;
	width: 100%;
	font-size: 20px;
	z-index: 0;
	padding: 12px 24px;
	border-radius: 30px;
}

.custom-select:active,
.custom-select:focus,
.custom-select:focus {
	border-color: #f5f5f5;
	outline: 0;
	box-shadow: 0 0 0 0 rgba(28, 96, 7, 0.55);
}

form.woocommerce-ordering .custom-select {
	border: 1px solid #e8e8e8;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
	float: left;
	margin: 0 3.8% 2.992em 0;
	padding: 0;
	position: relative;
	width: 33.3%;
	border: 1px solid #ccc;
	min-height: 615px;
	transition: 0.6s;
}

.woocommerce ul.products li.product h2.woocommerce-loop-product__title {
	font-size: 26px;
	text-align: center;
	font-weight: 900;
}

.woocommerce ul.products li.product .star-rating {
	font-size: 20px;
	margin: auto;
}

.woocommerce ul.products li.product .price {
	color: #080808;
	font-size: 20px;
	margin-top: 3px;
	text-align: center;
	margin-bottom: 0;
}

.add-to-cart-container a.add_to_cart_button.product_type_simple.single_add_to_cart_button.btn.btn-outline-primary.btn-block.ajax_add_to_cart {
	margin:10px auto;
	    text-decoration: none;
	    padding: 4px 20px;
}

.add-to-cart-container .btn-outline-primary:not(:disabled):not(.disabled):active {
	color: #fff;
background-color: #db9d00;
border-color: #db9d00;
}

.woocommerce ul.products li.product:hover {
-webkit-box-shadow: 0px 0px 5px -1px rgba(102,102,102,1);
-moz-box-shadow: 0px 0px 5px -1px rgba(102,102,102,1);
box-shadow: 0px 0px 5px -1px rgba(102,102,102,1);
}
section#singel_product_cart_s {
	margin-top: 5%;
	margin-bottom: 5%;
}

.flex-viewport {}

a.woocommerce-product-gallery__trigger {}

.woocommerce-product-gallery__image.flex-active-slide {
	height: 500px;
	overflow: hidden;
}

.flex-viewport {
	height: auto;
}

.woocommerce div.product div.images .flex-control-thumbs li {
	width: 16.6%;
	height: auto;
	/* clear: none; */
}

.woocommerce div.product .woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n+1) {
	clear: none;
}

.woocommerce-tabs.wc-tabs-wrapper {
	padding: 20px;
}

ol.flex-control-nav.flex-control-thumbs {
	margin: 20px;
}

.woocommerce-product-gallery.woocommerce-product-gallery--with-images.woocommerce-product-gallery--columns-4.images .flex-viewport {
	border: 1px solid #ccc;
	margin: 0 20px 20px;
}

.woocommerce div.product div.images .flex-control-thumbs {
	margin: 0 20px;
}

.woocommerce div.product div.images .woocommerce-product-gallery__trigger {
	top: 0.3em;
	right: 0.9em;
}

h1.product_title.entry-title {
	font-size: 40px;
	font-weight: 900;
	margin-bottom: 0;
}

span.woocommerce-Price-currencySymbol {
	margin-right: 4px;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
	color: #1c6007;
	font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 10px;
	border-bottom: 2px solid #dadada;
}

.woocommerce div.product form.cart {
	background: #f5f5f5;
	border-radius: 3px;
	padding: 15px 10px;
}

span.woocommerce-Price-currencySymbol {
	margin-right: 4px;
	font-weight: 900;
	font-family: 'Abhaya Libre', serif;
}

.quantity label.sr-only {
	position: relative;
	width: 100%;
	height: 1px;
	padding: 6px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	white-space: nowrap;
	border: 0;
	display: inline;
	font-weight: 900;
	color: #1c6007;
}

// .woocommerce div.product form.cart div.quantity {
// 	float: left;
// 	width: 30%;
// 	margin: 5px 4px 0 0;
// }

// .woocommerce .quantity .qty {
// 	width: 45%;
// 	text-align: center;
// 	padding: 5px;
// 	border-radius: 4px;
// 	border: 1px solid #bbbbbb;
// }

.woocommerce #respond input#submit,
button.btn.btn-outline-primary {
	font-size: 16px;
	padding: 9px 37px;
	display: block;
	border-radius: 35px;
	text-transform: uppercase;
	text-align: center;
	max-width: 240px;
	border: 0;
	font-weight: 600;
	color: #fff;
	background: #1c6007;

	&:hover {
		text-decoration: none;
		background: lighten(#1c6007, 10%);
		color: #fff;
	}
}

.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
	color: #fff;
}

.btn-outline-primary.focus,
.btn-outline-primary:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
	color: #fff;
	background-color: #db9d00;
	border-color: #db9d00;
}

.woocommerce div.product .woocommerce-product-rating {
	margin-bottom: 5px;
}

.woocommerce .star-rating span::before {
	color: #db9d00;
	letter-spacing: 2px;
}

.woocommerce .star-rating::before {
	letter-spacing: 2px;
}

a.woocommerce-review-link {
	color: #1c6007;
	font-size: 14px;
	line-height: 45px;

	&:hover {
		color: lighten(#1c6007, 10%);
	}
}

.woocommerce .star-rating {
	width: 6em;
	font-size: 20px;
}

.free_shopin_icon {
	margin: 10px 0;

	ul {
		display: -webkit-inline-box;
		list-style: none;
		padding-left: 0;

		li {
			background: #db9d00;
			color: #1c1c1c;
			padding: 6px 20px;
			margin-right: 10px;
			border-radius: 30px;

			svg {
				margin-right: 6px;
			}
		}
	}
}

.woocommerce-product-details__short-description {
    margin-bottom: 30px;
    font-size: 16px;
    font-family: 'Abhaya Libre', serif;
    line-height: 28px;
}

span.posted_in,
span.sku_wrapper,
span.tagged_as {
	margin-right: 15px;
	font-weight: 600;
}

span.posted_in a,
span.sku,
span.tagged_as a {
	color: #1c6007;
	font-weight: 400;
	padding-left: 5px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
	border: 1px solid #1c6007;
	background-color: #1c6007;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	color: #ffffff;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover {
	text-decoration: none;
	color: #fbfbfb;
}

h2.woocommerce-Reviews-title {
	font-size: 25px;
	margin-bottom: 30px;
}

div#review_form_wrapper {
	margin: auto;
	background: #f5f3f3;
	padding: 40px;
}

span#reply-title {
	font-size: 30px;
}

p.stars a,
p.stars a:hover {
	color: #db9d00;
}

p.comment-form-author label,
p.comment-form-comment label,
p.comment-form-email label {
	width: 100%;
}

input#author,
input#email {
	width: 100%;
}

input#wp-comment-cookies-consent {
	margin-right: 5px;
}

.woocommerce #review_form #respond textarea {
	border-color: #d6d3d3;
	border-radius: 5px;
}

input#author,
input#email {
	border-radius: 5px;
	height: 35px;
	border: 1px solid #d6d3d3;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
	background: #f1f0f0;
}

.woocommerce #reviews #comments ol.commentlist li img.avatar {
	border-radius: 100px;
	width: 41px;
	height: auto;
	background: #ffffff;
	border: 1px solid #db9d00;
}
// cart Page

.woocommerce-message {
	padding: 16px 60px;
	margin: 0 0 1em;
	position: relative;
	background-color: #ffffff;
	color: #020201;
	border: 1px solid #ccc;
	list-style: none outside;
	width: auto;
	word-wrap: break-word;
	font-size: 16px;
	font-weight: 400;
	border-radius: 100px;
}

form.woocommerce-cart-form {
	background: #f9f9f9;
}

table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents thead {
	background: #353535;
	color: #fff;
	border: 1;
}

.woocommerce table.shop_table {
	border: none;
	margin: 0 0 40px;
	text-align: left;
	width: 100%;
	border-collapse: separate;
}

tr.woocommerce-cart-form__cart-item.cart_item {
	padding: -4px 0;
	height: 70px;
}

.woocommerce #content table.cart td.actions,
.woocommerce table.cart td.actions,
.woocommerce-page #content table.cart td.actions,
.woocommerce-page table.cart td.actions {
	text-align: right;
	padding-top: 40px;
	width: 100%;
	padding-bottom: 20px;
}

.woocommerce #content table.cart td.actions,
.woocommerce table.cart td.actions,
.woocommerce-page #content table.cart td.actions,
.woocommerce-page table.cart td.actions {
	text-align: right;
	padding-bottom: 15px;
	padding-top: 30px;
}

form.woocommerce-cart-form button.btn.btn-outline-primary {
	display: -webkit-inline-box;
}

form.woocommerce-cart-form button.btn.btn-outline-primary.apply_coupon {
	font-size: 12px;
	padding: 8px 30px;
	color: #080808;
	background: #db9d00;
}

td.product-name a {
	color: #131313;
}

td.product-quantity .quantity label.sr-only {
	display: none;
	position: absolute;
}

#add_payment_method table.cart td.actions .coupon .input-text,
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text {
	float: left;
	box-sizing: border-box;
	border: 1px solid #d3ced2;
	padding: 6px 6px 5px;
	margin: 0 15px 0 0;
	outline: 0;
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
	float: right;
	width: 50%;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
	font-size: 73%;
	padding: 10px 1em;
	font-weight: 400;
	border-radius: 30px;
	color: #020201;
	background-color: #db9d00;
}

#coupon_code.input-text {
	width: 150px !important;
	padding-left: 12px;
	padding-bottom: 9px;
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
	float: right;
	background: #f9f9f9;
	padding: 30px;
	width: 60%;
}

.cart_totals h2 {
	font-size: 30px;
	font-weight: 900;
	letter-spacing: 2px;
}

a.shipping-calculator-button {
	background: #ccc;
	padding: 5px 30px;
	border-radius: 30px;
	color: #020201;
	font-size: 14px;
}

a.shipping-calculator-button:hover {
	text-decoration: none;
	background: lighten(#ccc, 5%);
}

.woocommerce-info {
	margin-bottom: 15px;
	border-radius: 30px;
	border: 0;
}

.woocommerce-info a {
	color: #1c6007;
	font-weight: 900;
	margin-left: 6px;
}

.woocommerce-info::before {
	color: #1c6007;
}

.woocommerce-billing-fields {
	padding: 30px 20px;
	background: #f7f7f7;
}

.woocommerce-additional-fields,
.woocommerce-shipping-fields {
	padding: 10px 20px;
	background: #f7f7f7;
}

h3#ship-to-different-address {
	margin-bottom: 0;
}

div#customer_details {
	margin-bottom: 40px;
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea,
input#calc_shipping_city,
input#calc_shipping_postcode,
input#password,
input#username,
select#calc_shipping_country,
span.select2-selection.select2-selection--single {
	display: block;
	width: 100%;
	height: calc(1.5em + .75rem + 2px);
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}

p.woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received {
	font-size: 24px;
	color: #fff;
	margin-bottom: 30px;
	border-radius: 41px;
	padding: 6px 30px;
	background-color: #1c6007;
}

ul.woocommerce-error {
	background: #c10000;
	color: #fff;
	border: none;
	border-radius: 30px;
}

.woocommerce-error::before {
	content: "\e016";
	color: #ffffff;
}

form.woocommerce-shipping-calculator button.button {
	width: 120px;
	color: #080808;
}

.woocommerce button.button:hover {
	background-color: #efac02;
}

p.woocommerce-shipping-destination strong {
	margin-left: 7px;
}

h3#ship-to-different-address {
	margin-top: 20px;
}

a.restore-item {
	font-weight: 900;
	color: #1c6007;
	margin-left: 2px;
}

label.woocommerce-form__label.woocommerce-form__label-for-checkbox.inline {
	margin-left: 20px;
	margin-top: 2%;
	margin-bottom: 0;
}

form.woocommerce-ResetPassword.lost_reset_password p {
	font-size: 20px;
}

.woocommerce form.login,
.woocommerce form.register {
	border: 0 solid #d3ced2;
	margin: 15px 0;
}

.woocommerce form .form-row label {
	line-height: 1.5;
}

div#customer_login h2 {
	padding: 8px 20px;
	background: #f7f7f7;
	border-radius: 55px;
	font-size: 24px;

	svg {
		margin-right: 6px;
		font-size: 21px;
	}
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
	color: #fff;
	background-color: #1c6007;
	border-color: #1c6007;
}

form.woocommerce-form.woocommerce-form-login.login button,
form.woocommerce-form.woocommerce-form-register.register button {
	width: 200px;
}

.woocommerce-password-strength.strong {
	background-color: #ffffff;
	border-color: #ffffff;
	color: #1c6007;
	margin-top: 5px;
}

.woocommerce-password-strength.short {
	background-color: #ffffff;
	border-color: #ffffff;
	color: #e80000;
	margin-top: 5px;
	margin-bottom: 0;
}

.woocommerce-password-strength.bad {
	background-color: #ffffff;
	border-color: #ffffff;
	color: #ce2f00;
	margin-top: 5px;
	margin-bottom: 0;
}

small.woocommerce-password-hint {
	margin-top: 5px;
	line-height: 19px;
}

small.woocommerce-password-hint {
	margin-top: 5px;
	line-height: 19px;
}

.list-group-item-action:active {
	color: #212529;
	background-color: #f7f7f7;
}

.woocommerce-MyAccount-content .woocommerce-message.woocommerce-message--info.woocommerce-Message.woocommerce-Message--info.woocommerce-info a,
.woocommerce-MyAccount-content a {
	padding: 3px 25px;
}

.woocommerce-MyAccount-content .woocommerce-info::before {
	display: none;
}

.woocommerce-MyAccount-content .woocommerce-message.woocommerce-message--info.woocommerce-Message.woocommerce-Message--info.woocommerce-info p,
.woocommerce-MyAccount-content p {
	margin-top: 15px;
	font-size: 20px;
	padding-left: 9px;
}

.woocommerce-MyAccount-content .woocommerce-error,
.woocommerce-MyAccount-content .woocommerce-info,
.woocommerce-MyAccount-content .woocommerce-message {
	background-color: #ffffff;
	padding: 0 10px 0 15px;
}

#shop_page {
	padding-top: 4%;
	padding-bottom: 4%;
}

.woocommerce .woocommerce-ordering {
	margin: 8px 0 1em;
	border-radius: 30px;
	margin-bottom: 35px;
}

.woocommerce .woocommerce-ordering,
.woocommerce-page .woocommerce-ordering {
	float: right;
	position: relative;
	z-index: 9999;
}

.woocommerce .woocommerce-result-count {
	margin: 0 0 1em;
	background: #f5f5f5;
	position: absolute;
	width: 100%;
	font-size: 20px;
	z-index: 0;
	padding: 12px 24px;
	border-radius: 30px;
}

.custom-select:active,
.custom-select:focus,
.custom-select:focus {
	border-color: #f5f5f5;
	outline: 0;
	box-shadow: 0 0 0 0 rgba(28, 96, 7, 0.55);
}

form.woocommerce-ordering .custom-select {
	border: 1px solid #e8e8e8;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
	float: left;
	margin: 0 3.8% 2.992em 0;
	padding: 0;
	position: relative;
	width: 33.3%;
	border: 1px solid #ccc;
	min-height: 615px;
	transition: 0.6s;
}

.woocommerce ul.products li.product .star-rating {
	font-size: 20px;
	margin: auto;
}

.woocommerce ul.products li.product .price {
	color: #080808;
	font-size: 20px;
	margin-top: 3px;
	text-align: center;
	margin-bottom: 20px;
}


.add-to-cart-container a.add_to_cart_button.product_type_simple.single_add_to_cart_button.btn.btn-outline-primary.btn-block.ajax_add_to_cart {
	margin: 10px auto;
    text-decoration: none;
    padding: 6px 5px;
    font-size: 22px;
    font-weight: 400;
}

.add-to-cart-container .btn-outline-primary:not(:disabled):not(.disabled):active {
	color: #fff;
background-color: #db9d00;
border-color: #db9d00;
}

.woocommerce ul.products li.product:hover {
-webkit-box-shadow: 0px 0px 5px -1px rgba(102,102,102,1);
-moz-box-shadow: 0px 0px 5px -1px rgba(102,102,102,1);
box-shadow: 0px 0px 5px -1px rgba(102,102,102,1);
}


.woocommerce ul.products li.product:hover {
    -webkit-box-shadow: 0px 0px 5px -1px #666;
    box-shadow: 0px 0px 5px -1px #f7f7f7;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    float: left;
    margin: 0 3% 3% 0;
    padding: 0;
    position: relative;
    width: 47%;
    border: 1px solid #ccc;
    min-height: 615px;
    -webkit-transition: 0.6s;
    transition: 0.6s;
}

.woocommerce ul.products li.product a img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 0 1em;
    box-shadow: none;
    padding: 5%;
}

.left_sidebar_text h2 {
    font-size: 20px;
    margin-top: 20px;
}

.woocommerce-notices-wrapper {
    margin-top: 20px;
}

a.added_to_cart.wc-forward {
    text-align: center;
    display: block;
}

#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
    background: #f7f7f7;
    border-radius: 5px;
}

.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1,.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
    flex: 0 0 8.333333%;
    max-width: 50%;
}

.woocommerce .woocommerce-customer-details address {
    border: 0;

}

.widget-area {
    margin-top: 40px;
}
.widget-area .widget {
	margin-top: 30px;

}
.widget-area h3.widget-title {
    font-size: 16px;
    margin-bottom: 10px;
}

.woocommerce-info {
    margin-top: 5%;
}

section.related.products {
    display: none;
}

.woocommerce .woocommerce-breadcrumb {
    margin: 10px 0 1em;
}

.woocommerce ul.products li.product a img {
    margin: 0 0 0;
    padding: 2% 5% 0 5%;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    float: left;
    margin: 0 3% 3% 0;
    padding: 0 0 2% 0;
    width: 33.33%;
    min-height: 540px;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
    padding: .2em 0;
    margin: 0;
    font-size: 1em;
}


.single.single-product .woocommerce-tabs li {
    line-height: 28px;
    margin-bottom: 14px;
}

.single.single-product .woocommerce-tabs ul{
    margin-bottom: 20px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
    color: inherit;
    text-shadow: inherit;
    color: #1c6007;
}